<nav class="navtop">
    <div>
        <h1>PHP Login System</h1>
        <a href="userProfile.php"><i class="fas fa-user-circle"></i>My Profile</a>
        <a href="logout.php"><i class="fas fa-sign-out-alt"></i>Logout</a>
    </div>
</nav>